

<div id="product-featured">
    <div class="wrapper">
        <div class="section-header">
            <div id="header-right">
                <select id="all-type" class="custom-select">
                    <option value="1">All Type</option>
                    <option value="2">Loli</option>
                    <option value="3">Shota</option>
                    <option value="4">Flat</option>
                </select>
                <select id="all-content" class="custom-select">
                    <option value="all-content">All Content</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
                <select id="all-Categories" class="custom-select">
                    <option value="all-categories">All Categories</option>
                    <option value="Hiten">Hiten</option>
                    <option value="Kantoku">Kantoku</option>
                </select>
            </div>
        </div>

    </div>
</div>