
@{
    ViewBag.Title = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
    <p class="mb-4">All images information will be saved here</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Images Details</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Categories</th>
                            <th>Entry by</th>
                            <th>Resolution</th>
                            <th>File Size</th>
                            <th>File Type</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><img src="~/Content/images/Kochou_Shinobu.jpg" class="photo" alt="Kochou_Shinobu_art" width="50" height="50" /></td>
                            <td>Kochou_Shinobu</td>
                            <td>/Art/</td>
                            <td>Riku</td>
                            <td>2500x1552</td>
                            <td>3,826kB</td>
                            <td>JPG</td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/images/Kochou_Shinobu_2.jpg" class="photo" alt="Kochou_Shinobu_art" width="50" height="50" /></td>
                            <td>Kochou_Shinobu (art)</td>
                            <td>/Art/</td>
                            <td>Riku</td>
                            <td>2500x1552</td>
                            <td>3,826kB</td>
                            <td>JPG</td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/images/Demonios.jpg" class="photo" alt="Kochou_Shinobu_art" width="50" height="50" /></td>
                            <td>Demonios</td>
                            <td>/Art/</td>
                            <td>Riku</td>
                            <td>2500x1552</td>
                            <td>3,826kB</td>
                            <td>JPG</td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/images/Hate_chan.jpg" class="photo" alt="Kochou_Shinobu_art" width="50" height="50" /></td>
                            <td>Hate Chan</td>
                            <td>/Art/</td>
                            <td>Riku</td>
                            <td>2500x1552</td>
                            <td>3,826kB</td>
                            <td>JPG</td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/images/MK416.jpg" class="photo" alt="Kochou_Shinobu_art" width="50" height="50" /></td>
                            <td>MK416</td>
                            <td>/Art/</td>
                            <td>Riku</td>
                            <td>1023x723</td>
                            <td>3,826kB</td>
                            <td>JPG</td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/images/Hololive.png" class="photo" alt="Kochou_Shinobu_art" width="50" height="50" /></td>
                            <td>Hoholive</td>
                            <td>/Art/</td>
                            <td>SubaruSumeragi</td>
                            <td>1023x723</td>
                            <td>861kB</td>
                            <td>PNG</td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/images/Cross_Over.png" class="photo" alt="Kochou_Shinobu_art" width="50" height="50" /></td>
                            <td>Cross-over</td>
                            <td>/Art/</td>
                            <td>SubaruSumeragi</td>
                            <td>1032x788</td>
                            <td>579kB</td>
                            <td>PNG</td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/images/Hololive.png" class="photo" alt="Kochou_Shinobu_art" width="50" height="50" /></td>
                            <td>Hoholive</td>
                            <td>/Art/</td>
                            <td>SubaruSumeragi</td>
                            <td>1023x723</td>
                            <td>861kB</td>
                            <td>PNG</td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/images/Hololive_2.png" class="photo" alt="Kochou_Shinobu_art" width="50" height="50" /></td>
                            <td>Hoholive 2</td>
                            <td>/Art/</td>
                            <td>SubaruSumeragi</td>
                            <td>1240x1754</td>
                            <td>2,361kB</td>
                            <td>PNG</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->