<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Elements -->
    <div class="container section-header">



    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        Copyright @@ @DateTime.Now.Year

        <a href="#"> AnimeLike - Group 5</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->