
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="image-overview">
    <div class="column">
        <a href="#">
            <div>
                <img src="~/Content/images/Kochou_Shinobu.jpg" class="photo" alt="Kochou_Shinobu" />
            </div>
            <div>
                <div href="#" class="image-title">/Kny / Kochou_Shinobu</div>
                <div class="image-details">
                    <span>Entry by Riku - 2500x1552 - 3,826kB</span>
                </div>
            </div>
        </a>
    </div>

    <div class="column">
        <a href="#">
            <div>
                <img src="~/Content/images/Kochou_Shinobu_2.jpg" class="photo" alt="Kochou_Shinobu_art" />
            </div>
            <div>
                <div href="#" class="image-title">/Kny / Kochou_Shinobu (art)</div>
                <div class="image-details">
                    <span>Entry by Riku - 2500x1552 - 3,826kB</span>
                </div>
            </div>
        </a>
    </div>
    <div class="column">
        <a href="#">
            <div>
                <img src="~/Content/images/Demonios.jpg" class="photo" alt="Demonios" />
            </div>
            <div>
                <div href="#" class="image-title">/KnY/ Demonios</div>

                <div class="image-details">
                    <span>Entry by Riku - 2500x1552 - 3,826kB</span>
                </div>
            </div>
        </a>
    </div>
    <div class="column">
        <a href="#">
            <div>
                <img src="~/Content/images/Hate_chan.jpg" class="photo" alt="Hate_chan" />
            </div>
            <div>
                <div href="#" class="image-title">/Aoi Ogata/ Hate Chan</div>
                <div class="image-details">
                    <span>Entry by Riku - 2500x1552 - 3,826kB</span>
                </div>
            </div>
        </a>
    </div>
    <div class="column">
        <a href="#">
            <div>
                <img src="~/Content/images/MK416.jpg" class="photo" alt="MK416" />
            </div>
            <div>
                <div href="#" class="image-title">/Art/ MK416</div>
                <div class="image-details">
                    <span>Entry by Riku - 2500x1552 - 3,826kB</span>
                </div>
            </div>
        </a>
    </div>
    <div class="column">
        <a href="#">
            <div>
                <img src="~/Content/images/Hololive.png" class="photo" alt="Hololive" />
            </div>
            <div>
                <div href="#" class="image-title">/Art/ Hoholive</div>
                <div class="image-details">
                    <span>Entry by SubaruSumeragi - 1023x723 - 861kB</span>
                </div>
            </div>
        </a>
    </div>
    <div class="column">
        <a href="#">
            <div>
                <img src="~/Content/images/Cross_Over.png" class="photo" alt="Cross-over" />
            </div>
            <div>
                <div href="#" class="image-title">/Art/ Cross-over</div>
                <div class="image-details">
                    <span>Entry by SubaruSumeragi - 1032x788 - 579kB</span>
                </div>
            </div>
        </a>
    </div>
    <div class="column">
        <a href="#">
            <div>
                <img src="~/Content/images/Hololive.png" class="photo" alt="Hololive" />
            </div>
            <div>
                <div href="#" class="image-title">/Art/ Hoholive</div>
                <div class="image-details">
                    <span>Entry by SubaruSumeragi - 1023x723 - 861kB</span>
                </div>
            </div>
        </a>
    </div>
    <div class="column">
        <a href="#">
            <div>
                <img src="~/Content/images/Hololive_2.png" class="photo" alt="Hololive_2" />
            </div>
            <div>
                <div href="#" class="image-title">/Art/ Hoholive</div>
                <div class="image-details">
                    <span>Entry by SubaruSumeragi - 1240x1754 - 2,361kB</span>
                </div>
            </div>
        </a>
    </div>
</div>


